body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u63 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:16px;
  top:61px;
  width:159px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:1069px;
  top:700px;
  width:188px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:800px;
  overflow:hidden;
  visibility:hidden;
}
#u66_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u66_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u68 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:302px;
  width:179px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  position:absolute;
  left:0px;
  top:358px;
  width:179px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:0px;
  top:404px;
  width:179px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:0px;
  top:449px;
  width:179px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  position:absolute;
  left:0px;
  top:494px;
  width:179px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74 {
  position:absolute;
  left:0px;
  top:256px;
  width:179px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u76 {
  position:absolute;
  left:245px;
  top:194px;
  width:836px;
  height:560px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
