.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj


.idea/
.project
dist
dist/*
src/config/*.tmp
src/config/env.js
data/
obj/
*.pdb
SDB/code/StandardDataBase/Release/build
*.vshost.exe
*.vshost.exe.manifest
.vs/
.vscode/
out/
packages/
/UI/html1.5
/server/apidoc
vcc/~$任务梳理.xlsx
