<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ethink.snd">

    <application
        android:name="com.ethink.snd.App"
        android:allowBackup="true"
        android:appComponentFactory="Android9"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name="com.ethink.snd.ui.PrintActivity"  android:screenOrientation="landscape"/>
        <activity
            android:name="com.ethink.snd.ui.ConfigActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.ethink.category.launcher" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ethink.snd.ui.FingerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ethink.snd.ui.CameraActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ethink.snd.ui.ArkActivity"
            android:screenOrientation="landscape" />

        <service android:name="com.ethink.snd.server.SNDService" />

        <receiver android:name="com.ethink.snd.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ethink.action.BOOT"/>
            </intent-filter>
        </receiver>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>