body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u22 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:11px;
  top:63px;
  width:100px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:1066px;
  top:672px;
  width:195px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:800px;
  overflow:hidden;
  visibility:hidden;
}
#u25_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u27 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:302px;
  width:179px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  position:absolute;
  left:0px;
  top:358px;
  width:179px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:0px;
  top:404px;
  width:179px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:0px;
  top:449px;
  width:179px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:0px;
  top:494px;
  width:179px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:0px;
  top:256px;
  width:179px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
