body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u185 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:556px;
  top:396px;
  width:260px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
