@import './color.less';
.pay{
    color: @black;
    position: relative;
    padding-top: 1.0625rem;
    margin: 0 6.25% 0 6.3%;
}
.pay-top{
    position: relative;
}
.pay-back{
    position: absolute;
    left: 0;
    top: 0;
    background: url('/static/img/back.png') no-repeat center;
    height: 5.5rem;
    width: 14.375rem;
    font-size: 1.5rem;
    padding-left: 5.5rem;
    padding-top: 1.5rem;
    color: @blue;
    font-weight: bold;
}
.pay-top-title{
    text-align: center;
    font-size: 2.5rem;
    padding-top: 1.25rem;
    font-weight: bold;
}
.pay-content{
    height: 46.0625rem;
    width: 100%;
    background: @white;
    border-radius:10px;
    margin-top: 1rem;
}
.pay-content-title{
    text-align: center;
    font-size: 1.375rem;
    color: @black;
    font-weight: bold;
    padding-top: 4.5rem;
}
.pay-content-price{
    color: @orange;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}
.pay-content-notice{
    margin-left: 20.875rem;
    font-size: 1.125rem;
    margin-top: 2rem;
}
.pay-content-box{
    display: flex;
    justify-content: center;
}
.pay-content-choose{
    position: relative;
}
.pay-content-choose:nth-child(2){
    margin: 0 3rem;
}