.container{
    width: 100%;
    height: 100%;
    background-image: url(/static/img/printImg.png);
    background-size: 100% 100%;
    position: relative;
}
.logo{
    position: absolute;
    left: 3.625rem;
    top: 1.8125rem;
}
.code{
    height: 1.25rem;
    line-height: 1.25rem;
    width: 13.625rem;
    font-size: 1.24125rem;
    font-weight:bold;
    color:rgba(49,76,104,1);
    position: absolute;
    right: 2.375rem;
    top: 1.8125rem;
}
.tip{
    width: 42rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    left: 17rem;
    top: 16.6875rem;
}
.scanNotice{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../../public/static/img/scanBg.png') no-repeat center;
    width: 32.375rem;
    height: 11.375rem;
    color: #fff;
    top: 22.8125rem;
    left: 46.9rem;
    div:nth-child(1){
        font-size: 3rem;
    }
    div:nth-child(2){
        font-size: 1.5rem;
    }
}