.basic{
  background: @white;
  padding: 69px 28.36%;
  margin: 0 1.5%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bs-submit {
  margin-top: 40px;
  button {
    width: 175px;
    height: 52px;
    font-size: 1rem;
  }
}
.bs-row {
  height: 3.25rem;
  margin-bottom: 5%;
  position: relative;
}
.bs-title {
  text-align: end;
  font-size: .875rem;
  font-weight: bold;
  color: rgba(62, 73, 85, 1);
  position: absolute;
  top: -20px;
  text-align: right;
}
.bs-info {
  font-size: 18px;
  font-weight: 400;
  color: rgba(130, 130, 130, 1);
}

.basic .ivu-form-item-content .ivu-select-single .ivu-select-selection{
  height: 3.125rem;
  line-height: 3.125rem;
}
.basic .ivu-select-single .ivu-select-selection .ivu-select-placeholder,.basic .ivu-select-single .ivu-select-selection .ivu-select-selected-value{
  height: 3.125rem;
  line-height: 3.125rem;
  font-size: 1rem;
}
.basic .ivu-form-item-content{
  line-height: 3.125rem;
}
.basic .ivu-input-wrapper{
  height: 100%;
  line-height: 3.125rem;
}
.basic .ivu-input-large{
  height: 3.125rem;
  line-height: 3.125rem;
  font-size: 1rem;
}
.basic .ivu-select-item{
  font-size: .75rem !important;
  padding: 16px;
}