.bs-submit {
  margin-top: 40px;
  button {
    width: 175px;
    height: 52px;
  }
}
.bs-row {
  height: 50px;
  margin-bottom: 5%;
}
.bs-title {
  text-align: end;
  font-size: 16px;
  font-weight: bold;
  color: rgba(62, 73, 85, 1);
}
.bs-info {
  font-size: 18px;
  font-weight: 400;
  color: rgba(130, 130, 130, 1);
}