.fingerprint{
    margin: 0 1.5%;
    border-radius:10px;
    height: 100%;
    background: @white;
}
.ivu-table-wrapper{
    margin: 0 3.55%;
    padding: 37px 0;
}
.ivu-table-row td{
    border-top: 6px solid @white;
    height: 44px;
    margin-top: 6px;
}
.ivu-table-tbody td{
    background: @gray;
    font-size: 1rem;
    width: 30%;
}
.ivu-table-cell:nth-child(2n){
    width: 60%;
}
.fingerprint-add{
    position: absolute;
    right: 3.36%;
    top: 1.25rem;
    width: 6rem;
    background: #00BFD0;
    color: @white;
    font-size: .875rem;
    font-family:Microsoft YaHei;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    height: 2.125rem;
    line-height: 2.125rem;
}
.fingerprint-clear{
    position: absolute;
    right: 3.36%;
    width: 6rem;
    height: 2.125rem;
    line-height: 2.125rem;
    cursor: pointer;
    text-align: center;
    background: salmon;
    color: @white;
    border-radius: 4px;
    z-index: 2;
}
.ivu-table:after{
    width: 0;
}
.ivu-table-wrapper{
    border: 0;
}
.ivu-table th{
    border: 0;
    font-size: 1rem;
}
.ivu-table:before{
    height: 0;
}
