div{
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100%;
  border-top: 1px solid white;
  background-image: url('/static/img/loginBack.png');
  background-size:100% 100%;
}

.main{
  width: 82.5%;
  height: 82.25%;
  margin: 0 auto;
  margin-top: 5.55%;
  background-color: white;
}

.title{
  width: 100%;
  height: 24.5%;
  position: relative;
}

.loginContent{
  width: 100%;
  height: 75.5%;
  border-top: 1px solid white;
  position: relative;
}

.bg1{
  width: 55px;
  height: 50px;
  position: absolute;
  right: 2.34%;
  top: 27.3%;
}

.logo{
  width: 17.9%;
  height: 15.5%;
  position: absolute;
  left: 41.1%;
  top: 25.5%;
}

.logoP{
  width: 100%;
  height:11.8%;
  font-size: 1.3125rem;
  font-family:Microsoft YaHei;
  font-weight: bold;
  color: #3E4955;
  position: absolute;
  text-align: center;
  top: 49%;
  line-height: 100%;
  text-align: center;
}

.logoE{
  width: 100%;
  height: 21%;
  position: absolute;
  bottom: 10%;
  font-size: 2.25rem;
  line-height: 100%;
  font-weight: bold;
  color: #C9D3ED;
  text-align: center;
}

.bg2{
  width: 10%;
  height: 28%;
  position: absolute;
  bottom: 12%;
  left: 14.1%;
}

.select{
  width: 20.3%;
  height: 5%;
  margin-left: 39.85%;
  top: 8.5%;
  position: absolute;
}

.fingerLogin{
  float: left;
  font-size: 1.5rem;
  line-height: 100%;
  font-weight: bold;
}
.accountLogin{
  float: right;
  font-size: 1.5rem;
  line-height: 100%;
  font-weight: bold;
}

.loginForm{
  width: 20%;
  height: 46.4%;
  position: absolute;
  margin-left: 40%;
  top: 28%;
}

.loginFormChange{
  width: 35.23%;
  height: 65%;
  position: absolute;
  top: 20%;
  margin-left: 32.385%;
}

.changeColor{
  color: #2A7AFF;
}

