.container{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    box-shadow:0px 2px 6px 0px rgba(232,232,232,1) inset;
}
.containerBody{
    width: 96.8%;
    position: absolute;
    height: calc(100% - 40px);
    top: 20px;
    left: 1.6%;
}
.title{
    width: 100%;
    background-color: white;
}
.content{
    width: 100%;
    height: calc(100% - 76px);
    background-color: white;
}
.titleLeft{
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
    color: #3E4955;
    margin-bottom: 11px;
}
.titleRight{
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    margin-bottom: 11px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #3E4955;
}
.left{
    width: 46%;
    height: 83%;
    float: left;
    margin-left: calc(4% - 0.5rem);
    padding-bottom: 1rem;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 8px 0px rgba(155,155,155,0.51);
}
.right{
    width: 46%;
    height: 83%;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 8px 0px rgba(155,155,155,0.51);
    float: left;
    overflow: auto;
    margin-left: 1rem;
    padding-bottom: 1rem;
}
.leftTop{
    width: 100%;
    height: 21%;
}
.leftTopLeft{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}
.leftTopRight{
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
}
.leftTopRightTwo{
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
}
.code{
    width: 40%;
    height: 1.5625rem;
    position: absolute;
    top: 50%;
    margin-top: -0.6125rem;
    line-height: 1.5625rem;
    text-align: right;
    font-size: 1.75rem;
    color: #3E4955;
}
.name{
    width: 50%;
    top: 50%;
    position: absolute;
    left: 50%;
    height: 2.5rem;
    margin-top: -1.25rem;
    line-height: 2.5rem;
    text-align: left;
    font-size: 2.5rem;
    color: #FF7800;
}
.age{
    position: absolute;
    width: 80%;
    height: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
    top: 35%;
    margin-top: -0.625rem;
    left: 10%;
    color: #3E4955;
    font-weight: 400;
}
.ageCount{
    position: absolute;
    width: 80%;
    height: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    left: 10%;
    font-weight: bold;
    top: calc(35% - 0.625rem + 1.5rem + 1.125rem);
}
.leftBottom{
    width: 100%;
    height: 79%;
    overflow: auto;
}
.personInf{
    height: 12.5rem;
    margin-top: 1.6875rem;
    margin-left: 1.25rem;
    margin-right: 1.4375rem;
    padding: 1.1875rem 1.625rem 0 1.625rem;
    border:1px dashed rgba(107,195,255,1);
    font-size: 1.125rem;
    color: #3E4955;
    font-weight: 400;
}
/deep/.ivu-checkbox-checked .ivu-checkbox-inner{
    background: #1AA95E;
    width: 1.25rem;
    height: 1.25rem;
    border-color: #1AA95E;
}
/deep/.ivu-checkbox-checked .ivu-checkbox-inner:after{
    width: .4rem;
    height: .8rem;
    left: .4rem;
}
/deep/.ivu-checkbox:hover .ivu-checkbox-inner{
    width: 1.25rem;
    height: 1.25rem;
}
/deep/.ivu-checkbox-inner{
    width: 1.25rem;
    height: 1.25rem;
}
.personInf-check{
    font-size: 1.125rem;
    color: #3782FF;
    font-weight:bold;
}
.personInf:nth-child(1){
    margin-top: 0;
}
.personInfVaccine{
    width: 42%;
    height: 100%;
    float: left;
    position: relative;
}
.personInfCount{
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
}
.personInfStatus{
    width: 30%;
    height: 100%;
    float: left;
    position: relative;
}
.personInfVaccineP{
    width: 90%;
    position: absolute;
    left: 5%;
}
.vaccineOne{
    top: 0;
    height: 1.0625rem;
    font-size: 1.125rem;
    line-height: 1.0625rem;
    color: #3E4955;
}
.vaccineTwo{
    top: 2.3125rem;
    height: 1.25rem;
    color: #2A7AFF;
    font-size: 1.25rem;
    line-height: 1.25rem;
}
.vaccineThree{
    bottom: 0;
    height: 0.875rem;
    line-height: 0.875rem;
    font-size: 0.875rem;
    color: #3E4955;
}
.getVaccineOne{
    width: 100%;
    height: 1.1875rem;
    line-height: 1.1875rem;
    font-size: 1.1875rem;
    position: absolute;
    color: #3E4955;
}
.getVaccineCount{
    width: 100%;
    height: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.125rem;
    color: #3E4955;
    top: 3.25rem;
    position: absolute;
    font-weight: bold;
}
.vaccineInf{
    margin-top: 1.6875rem;
    margin-left: 1.4375rem;
    margin-right: 1.25rem;
    padding: 1.1875rem 1.5rem 0.875rem;
    height: 13.75rem;
    border:1px dashed rgba(107,195,255,1);
    box-sizing: border-box;
}
.mt24{
    margin-top: .875rem;
}
.vaccine:nth-child(1){
    margin-top: 2.625rem;
}
.vaccineInf-top{
    display: flex;
    flex-flow: row wrap;
    font-size: 1.125rem;
    div{
        width: 50%;
    }
    div span{
        font-weight:bold;
        font-size: 1rem;
    }
    div:nth-child(1){
        color: #2A7AFF;
    }
}
.vaccineInf-bottom{
    margin-top: .875rem;
    font-size: 1.125rem;
    span{
        font-weight:bold;
        font-size: 1rem;
        
    }
}
.succeed{
    width: 1.5rem;
    height: 1.5rem;
    float: right;
}
.tipInf{
    display: block;
    float: right;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-left: 0.5625rem;
    font-size: 1.125rem;
}
.producter{
    margin-top: 1rem;
}
.vaccine-info{
    display: flex;
    margin-top: 1rem;
}
.vaccine-info-part{
    width: 63%;
    display: flex;
}
.vaccine-info-num{
    width: 37%;
}
.vaccine-btnBox{
    display: flex;
    justify-content: flex-end;
    margin-top: .625rem;
    button{
        width: 6.25rem;
        height: 2.25rem;
        font-size: 1rem;
        outline: 0;
    }
    // button:nth-child(1){
    //     background:rgba(255,213,177,1);
    //     border:1px solid rgba(255,157,70,1);
    //     color: #EF3800;
    //     margin-right: .625rem;
    // }
    button:nth-child(1){
        background:rgba(26,169,94,1);
        border:1px solid rgba(125,224,189,1);
        color: #fff;
    }
}
.bottom-btn{
    display: flex;
    justify-content: center;
    button{
        width: 9.25rem;
        height: 3.125rem;
        font-size: 1.125rem;
        font-weight: bold;
        outline: 0;
    }
    button:nth-child(1){
        color: #FF6A00;
        background:rgba(255,197,156,1);
        border:1px solid rgba(242,155,118,1);
        margin-right: 1.9375rem;
    }
    button:nth-child(2){
        background:rgba(42,122,255,1);
        border:1px solid rgba(160,216,255,1);
        color: #fff;
    }
}