body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u118 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:283px;
  top:177px;
  width:802px;
  height:309px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:800px;
  overflow:hidden;
  visibility:hidden;
}
#u120_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u120_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u122 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:0px;
  top:302px;
  width:179px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u124 {
  position:absolute;
  left:0px;
  top:358px;
  width:179px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u125 {
  position:absolute;
  left:0px;
  top:404px;
  width:179px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u126 {
  position:absolute;
  left:0px;
  top:449px;
  width:179px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u127 {
  position:absolute;
  left:0px;
  top:494px;
  width:179px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u128 {
  position:absolute;
  left:0px;
  top:256px;
  width:179px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
