body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u93 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1107px;
  top:91px;
  width:148px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:800px;
  overflow:hidden;
  visibility:hidden;
}
#u95_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u95_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u97 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:0px;
  top:302px;
  width:179px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u99 {
  position:absolute;
  left:0px;
  top:358px;
  width:179px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u100 {
  position:absolute;
  left:0px;
  top:404px;
  width:179px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u101 {
  position:absolute;
  left:0px;
  top:449px;
  width:179px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u102 {
  position:absolute;
  left:0px;
  top:494px;
  width:179px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u103 {
  position:absolute;
  left:0px;
  top:256px;
  width:179px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
