.user-form{
}
.ivu-form-item .ivu-form-item-content{
    label{
        display: inline-block;
        line-height: 32px;
        height: 40px;
        margin: 0 5px;
    }
    button{
        margin-left: 10px;
    }
}
.ivu-btn > .ivu-icon + span{
    margin-left: 0 !important;
}
.user-form .ivu-form .ivu-form-label-right .ivu-form-inline{
    height: auto;
}
.ivu-form-inline .ivu-form-item{
    margin: 36px 0 18px 0;
}